<html>
    <head>
        
        <title><%=(locals.title) ? title :''%></title>
    
    </head>
    <body>
    
        <h2>Hello world<h2>
        <H4>use customer/add to add customer</H4>
        <h4>
    </body>

</html>
